@charset "UTF-8";
/* CSS Document */

body{
	margin: 0px 0px 0px 0px;
/* background color code */
	background: #212121; /* for non-css3 browsers */
/* defult font code */		
	color: #white;
	font-family:"arial";
	overflow: hidden;
}

.green {
/* hr tag css code for green bar */
	height: 3px;
	border: 0px;
	background: #8eff60;
	margin-top: 0px
}

.red {
/* hr tag css code for red bar */
	height: 3px;
	border: 0px;
	background: #ff3c3c;
}

nav { 
	height:22px;
	font-family: journal;
}

.mainnav {
	text-decoration: none;
	font-size: 200%;
	color: white;
	height: 22px;
	margin-right: 5px;
	float: right;
	position: relative;
	top: -10px;
	width: 100%;
}

.mainnav ul {
	list-style-type: none;
	margin: 0px;
	float: right;
	position: absolute;
	right: 0px;
}

.mainnav ul li{
	float: left;
	padding-left: 20px;
}

.mainnav ul li:hover {text-decoration:none; color: #82D9FF;}

.logo {
	position: static;
	top: 5px;
	left: 5px;
	height: 85px;
	width: 160px;
	background:url("../img/logo.small.png");
	background-repeat: no-repeat;
	
}
/* twitter and facebook icons */
.followus{
	position: absolute;
	padding-left: 5px;
}
.followus a{width:23px; height:22px; margin-right: 3px; float: right;}
.followus .tw {background-image:url('../img/tw.png'); padding:0px;}
.followus .fb {background-image:url('../img/fb.png'); padding: 0px;}
.followus .gpp {background-image:url('../img/gplus.png'); background-repeat: no-repeat; padding: 0px;}

/* form style */
.emailform {
	float: right;
	margin: 5px 60px 0px 0px;
	color: white;
	font-size: 14px;
	position: static;
	display: none;
}
.emailform p {font-size:12px; text-align:right; margin-bottom:0px; padding-right: 25px;}
.emailfield {
	border-radius: 10px;
	border: 0px;
	padding-left: 5px;
	padding-right: 5px;

}
.emailbtn {
	position:relative; 
	float:right; 
	top:-21px;
 	width: 22px; 
	background:url("../sushi.png");
	border: 0px;
	background-repeat: no-repeat;
}

/************************************* 
HOME PAGE CSS CODE *******************
*************************************/
.spacegallery {
	position: relative;
	overflow: hidden;
}
.spacegallery img {
	position: absolute;
	left: 50%;
}
.spacegallery a {
	position: absolute;
	z-index: 1000;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/slideshow/blank.gif);
}

#gallery {
	width: 100%;
	height: 500px;
}

/************************************* 
MENU PAGE CSS CODE *******************
*************************************/
#menuarea{
	margin:0px;
}

/* menu catagory list */
#menucategory {
	height: inherit;
	width: 300px;
	float:left;
	overflow-y: auto;
	background: #414141;
	margin-right: 10px;
}

#menutitle {
	background: #414141;
	width: 10%;
	border-top-right-radius: 8px;
	padding-left: 10px;
	font-size: small;
	color:white;
}

#categoryitems{
	color: white;
	font-family: journal;
	font-size: 300%;
}

#categoryitems ul {
	list-style-type: none;
	padding-left:0px;
	margin-top:0px
}

#categoryitems ul li {
	border-bottom: 1px solid white;
	padding-left: 15px;
}


#categoryitems ul li:hover {background: #5292CD; color: #212121}
/*menu items */
#menuitems {
	height: inherit;
	width: 70%;
	background-color: #414141;
	float:right;
	position: absolute;
	right: 0;
	overflow-y: auto;
}

#categoryname {
	background: #414141;
	width: 40%;
	float: right;
	border-top-left-radius: 8px;
	text-align: right;
	padding-right: 10px;
	font-size: small;
	position: relative;
	top: -15px;
	color: white;
}

#categoryheader {
	text-align: center;
	color: white;
	font-size: 300%;
	font-family: walkway;
}

#categorydisc {
	text-align: center;
	color: white;
	font-size: 125%;
	font-family: walkway;
	position: relative;
}

/*MENU TABLE*/
th {
font-weight: normal;
font-size: 70%;
}

#itemtable {
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 10px;
	font-family: walkway;
	font-size: 110%;
}

#itemname {
	text-align: left;
	border-bottom: 1px dashed gray;
}

#itemdisc {
	font-size: 90%;
	border-bottom: 1px dashed gray;
}

#itemprice {
	text-align: right;
}

#pricetitle {
	text-align: right;
}

.price2 {

}

#tfooter {
	display:none;
	font-family: walkway;
	color: lightgray;
	text-align: right;
	font-size: 81%;
}
/************************************* 
OUR INFO PAGE CSS CODE *******************
*************************************/
#ourinfobody {
	color: white;
	text-align:center;
	margin-left:10%;
	overflow:auto;
}

#left{float:left;}
#right{float:left; margin-left:5%; text-align:left; width:400px;}

#contactinfo {width:425px;}

#googlemaps {width:425px;}

#contactfourm {}
#contactfourm input{
	width:75%; 
	padding-left:5%; 
	border-radius:20px; 
	height:30px; 
	margin-bottom:10px;
	font-size: .9em;
	color: #444;
}
#contactfourm textarea{
	width:75%; 
	padding-top:2%;
	padding-left:5%; 
	border-radius:20px; 
	margin-bottom:10px;
	font-size: .9em;
	color: #444;
}
#contactfourm button{width:25%; height:30px; border-radius: 20px; font-size: .9em;}

#googlemaps a:link{color:white; text-decoration:none;}
#googlemaps a:visited{color:white; text-decoration:none;}
#address {display:none;}
