@charset "UTF-8";
/* CSS Document */

.fullform{
	text-align: center;
	width: 300px;
	color: white;
	background: #212121;
	z-index:50;
	position: absolute;
	margin: 0px 35% 0px 35%;
	display: none;
	border: 1px solid #8eff60;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 0px;
	padding-bottom: 10px;
}

.fullform input {
border-radius: 10px;
	border: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.fullform .emailfield{
	margin-left:30px;
}

.fullform button{
	border-radius: 10px;
	width: 130px;
}

.fullform #validationerror {
	display: none;
	color: #ff3c3c;
}
