@font-face {
	font-family: 'journal';
	src: url('../fonts/JOURNAL.eot');/*<-if IE */
	src: url('../fonts/JOURNAL.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'walkway';
	src: url('../fonts/Walkway.eot');/*<-if IE */
	src: url('../fonts/Walkway.ttf') format('truetype');
}
