@charset "UTF-8";
/* CSS Document */

body{
	margin: 0px 0px 0px 0px;
/* background color code */
	background: #212121; /* for non-css3 browsers */
/* defult font code */		
	color: #white;
	font-family:"arial";
	overflow: hidden;
}

.emailform{display:none;}

hr {
	display:none;
}

nav { 
	z-index:1001;
	height:10%;
	font-family: sans-serif;
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: #45484d; /* Old browsers */
	/*Granit for toolbar*/
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top, #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.mainnav {
	text-decoration: none;
	font-size: 100%;
	color: white;
	height: 100%;
}

.mainnav ul {
	list-style-type: none;
	width: 100%;
	margin: 0px;
	text-align: center;
	padding: 0px;
	height: 100%;
}

.mainnav ul li {
	height: 100%;
	float: left;
	width: 25%;
	position: relative;
	font-size: 1.5em;
}

/* Add images to task bar */
.mainnav ul li div{
	height: 70%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.home{
	background-image:url(../img/mobile/home.png);
}
.info{
	background-image:url(../img/mobile/info.png);
}
.menu{
	background-image:url(../img/mobile/sushi.png);
}
.order{
	background-image:url(../img/mobile/order.png);
}

/************************************* 
HOME PAGE CSS CODE *******************
*************************************/
#sitename{
	left: 21%;
	position: absolute;
	width: 80%;
	font-size: 35px;
	margin-top: 20%;
}

/* twitter and facebook icons */
#followus {
	width:15%; 
	height:80%; 
	position:absolute;
	top:10%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.links{
	float: left;
	height: 60%;
	top: 20%;
	position: absolute;
	left: 5%;
	width: 15%;
	background: #4c4c4c; /* Old browsers */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	border-radius: 8px;
	background-image: url(../img/mobile/at.png);
	border: 1px solid gray;
}

#linkscategory{
	width: 0;
	height: 70%;
	position: absolute;
	top: 100%;
	color: black;
	z-index: 10;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

#linksstart{
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
	opacity: 0.0;
	display:none;
}

#linksstart li {
	text-align: center;
	font-size: 20px;
	float: left;
	width: 40px;
	margin: 2px 0px 2px 20px;
}

#sm{
	height: 100%;
	width: 100%;
}

#pagebody{
	height: 550px;
	position: absolute;
	top: 10%;
	width: 100%;
	visibility: hidden;
}

.spacegallery {
	position: relative;
	overflow: hidden;
}
.spacegallery img {
	position: absolute;
	left: 50%;
}
.spacegallery a {
	position: absolute;
	z-index:5;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/slideshow/blank.gif);
}

#gallery {
	width: 100%;
	height: 100%;
	position: absolute;
}

/********MENU.PHP CSS********/
/* TITLES OF THE WINDOWS FOR MENU.PHP*/
#menunav{
	height: 10%;
	position: fixed;
	width: 100%;
	top: 0px;
	text-align: center;
	color: white;
	background: #45484d; /* Old browsers */
	/*Granit for toolbar*/
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top, #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#menutitle{ 
	width:100%;
	display:none;
	position:absolute;
	top: 100%;
	left:0%;
	background: white;
	color: black;
	text-align:left;
	padding-left:10%;
	font-size:100%;
}

#categoryname{
	left: 21%;
	position: absolute;
}

.menubtn{
	float: left;
	height: 60%;
	top: 20%;
	position: absolute;
	left: 5%;
	width: 15%;
	background: #4c4c4c; /* Old browsers */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	border-radius: 8px;
	background-image: url(../img/mobile/sushi.png);
	border: 1px solid gray;
}

/* DIV WRAPPING THE WHILE MENU.PHP SCREEN*/
#menuarea{}

/* CATEGORY SECTION FOR THE MENU.PHP */
#menucategory{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 10%;
	background: white;
	color: black;
	display: block;
	z-index: 1003;
}

#categoryitems{}

#categorystart{
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
}

#categorystart li {
	padding: 10px 5px 10px 5px;
	border-bottom: 1px solid gray;
	text-align: center;
	font-size: 20px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */

}

/* MAIN BODY OF THE MENU PAGE */
#menuitems{
	top: 10%;
	color: white;
	position: absolute;
	z-index: -1;
	padding-bottom:20%;
	width: 100%;
	text-align: right;
}

#categoryheader{display:none;}

#categorydisc{
	border-bottom: 1px solid white;
	margin-bottom: 20px;
	text-align: center;
}

#itemtable{width:100%;}

#itemname{border-bottom:1px dashed white; text-align: left;}

#itemdisc{border-bottom:1px dashed white; text-align: center;}

#pricetitle {font-size: 10px;}

#itemprice {
	width:20px; 
	text-align: right;
	border-right: 1px dashed gray;
	padding-right: 5px;
}

.price2 {border: 0px !important;}

#tfooter{text-align: right; display:none;}

/*loading that is generated by jquery mobile*/
h1 {display:none;}

/************************************* 
OUR INFO PAGE CSS CODE *******************
*************************************/
#ourinfobody {
	color: white;
	text-align:center;
	overflow:auto;
	margin-bottom: 12%;
}

#left{float:left;}
#right{float:left; text-align:left; width:100%;}

#contactinfo {width:100%;}

#googlemaps {width:100%s;}

#contactfourm {}
#contactfourm input{
	width:80%; 
	padding-left:5%; 
	padding-right:5%;
	border-radius:20px; 
	height:30px; 
	margin-bottom:10px;
	font-size: .9em;
	color: #444;
}
#contactfourm textarea{
	width:80%; 
	padding-top:2%;
	padding-left:5%;
	padding-right:5%;
	border-radius:20px; 
	margin-bottom:10px;
	font-size: .9em;
	color: #444;
}
#contactfourm button{width:50%; height:30px; border-radius: 20px; font-size: .9em; margin-left:25%;}

iframe{display:none;}

span {display:none;}

#googlemaps a:link{color:white; text-decoration:none;}
#googlemaps a:visited{color:white; text-decoration:none;}
